<h2><span>Node:</span> <%= @node.name %> - <%= link_to "edit", edit_l1_node_path(@node) %></h2>
<table>
	<tr>
		<th>Location:</th><td><%= @node.location.name %></td>
	</tr>
	<tr>
		<th>Device:</th><td><%= @node.device.device_type.desc %></td>
	</tr>
</table>
<table>
	<tr>
		<th valign="top">Parents:</th>
		<td>
			<%= render :partial=>'node', :collection=>@node.parents %>
		</td>
	</tr>
	<tr>
		<th valign="top">Children:</th>
		<td>
			<%= render :partial=>'node', :collection=>@node.children %>
		</td>
	</tr>
	<tr>
		<th valign=top>Available Links:</th>
		<td>
			<% @nodes.find_all{|n| n != @node and !@node.parents.include?(n) and !@node.children.include?(n)}.sort{|x,y| x.location.name <=> y.location.name }.each do |n| %>
				<%= n.name %> @ <%= n.location.name %>/<%=n.device.device_type.desc %> - <%= link_to 'Select', :action=>:connect, :id=>n %> | <%= link_to "Add as Parent", :action=>:create_link, :id=>@node, :link=>n %> | <%= link_to "Add As Child", :action=>:create_link, :id=>n, :link=>@node %><br/>
			<% end %>
		</td>
	</tr>
</table>
